{# templates/inici.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Contactes{% endblock %}
{%  block stylesheets %}

<link href="{{ asset('css/estilsInici.css') }}" rel="stylesheet" />


{% endblock %}
{% block body %}

<div class="container">

    <h2 id="titolinici">Inici Programa Gestio Retail Quico Blesa</h2>
    
    <p id="paragrafinici">
    Este es un programa de retail creado para 
    la clase de desplegament de 2ºDAW.
    </p>
    
    <a href="{{ path('detall') }}">
        <img class="imatgeinici" src="{{ asset('kaira/images/instituto.png')}}">
    </a>

</div>

<div class="container2">

{% for section in arraySeccions %}
    
    
    <div class="carta">
        
        <a href="{{ path('detall', {'codi': section.codi}) }}">
            <h4 id='entityseccio'>{{ section.nom }}</h4>
            <img class='imatgeseccio' src="{{ section.imatge }}" />
        </a>
    </div>     

{% endfor %}

</div>


{% endblock %}